$sacramento: 'Sacramento', cursive;
$alice: 'Alice', serif;
$marck: 'Marck Script', cursive;
$paris: 'Parisienne', cursive;

//Paleta lilas
$color0: #EFC6CB;
$color1: #E2CCE0;
$color2: #82747D;
$color35: rgb(91, 73, 112);
$color3: #423156;
$color4: #342B47;
$color5: #262147;
$color6: #121826; //rgb 18,24,38
